<div class="book-item">
    <h4>{{ bookData.title }} by {{ bookData.author }}</h4>
    <p><strong>{{ sectionTitle }}</strong></p>
    <ul>
      <li>Title: {{ bookData.title }}</li>
      <li>Author: {{ bookData.author }}</li>
      <li>Book type: {{ bookData.type }}</li>
    </ul>
  
    <!-- Conditional rendering of merge/add options -->
    <div *ngIf="isMergeOptionVisible">
      <label>
        <input type="radio" name="action" value="merge" /> Merge
      </label>
      <label>
        <input type="radio" name="action" value="add" /> Add
      </label>
    </div>
  </div>