<div
  #menu
  class="dropdown-menu show position-fixed context-menu"
  [ngStyle]="{ top: menuPosition.top, left: menuPosition.left }"
  style="z-index: 1050; "
  [class.open]="isMenuOpen"
>
  <button class="dropdown-item" (click)="onAction('read')">Mark as Read</button>
  <button class="dropdown-item" (click)="onAction('reading')">Mark as Reading</button>
  <button class="dropdown-item" (click)="onAction('toRead')">Mark as To Read</button>
  <button class="dropdown-item" (click)="onAction('wishlist')">Mark as Wishlist</button>
  <button class="dropdown-item" (click)="onAction('collection')">Add to Collection</button>
  <button class="dropdown-item" (click)="onAction('edit')">Edit</button>
  <button class="dropdown-item" (click)="onAction('delete')">Delete</button>
  <button class="dropdown-item" (click)="onAction('match')">Match</button>
</div>