<!-- Pagination Controls -->
<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination">
        <!-- Previous Button -->
        <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
            <button class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>

        <!-- Dynamic Page Numbers and Ellipsis -->
        <li *ngFor="let page of paginationDisplay" class="page-item" [class.disabled]="page === '...'"
            [class.active]="page === currentPage" (click)="changePage(page)">
            <button class="page-link">{{ page }}</button>
        </li>

        <!-- Next Button -->
        <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
            <button class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>