th {
  cursor: pointer;
}

th span {
  margin-left: 8px;
}

.sort-icon {
  font-size: 12px;
}

.sort-icon.asc::after {
  content: '▲'; 
}

.sort-icon.desc::after {
  content: '▼'; 
}

table th, table td {
  text-align: left;
}

button.btn-primary {
  margin-top: 1rem;
}

/* Highlight selected rows */
tr.selected  {
  background-color: #E4F2FE; 
}

tr:hover {
  cursor: pointer;
}