<h4>Books</h4>
<table class="table table-striped">
  <thead>
      <tr>
          <th>Cover</th>
          <th (click)="sortBy('title')">Title <span [class]="getSortIcon('title')"></span></th>
          <th (click)="sortBy('author_surname')">Author <span [class]="getSortIcon('author_surname')"></span></th>
          <th (click)="sortBy('rating')">Rating <span [class]="getSortIcon('rating')"></span></th>
          <th (click)="sortBy('status')">Shelves <span [class]="getSortIcon('status')"></span></th>
          <th (click)="sortBy('book_type')">Type <span [class]="getSortIcon('book_type')"></span></th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
        <td>
            <img *ngIf="book.cover_image_tiny" src="http://localhost:5000/static/{{book.cover_image_tiny}}" class="book-cover">
        </td>
        <td><a [routerLink]="['/books', book.id]">{{ book.title }}</a></td>
        <td><a [routerLink]="['/search']" [queryParams]="{ search_query: book.author_name }"> {{ book.author_name }}</a></td>
        <td>{{ book.rating }}</td>
        <td>{{ book.status }}</td>
        <td>{{ book.book_type }}</td>
        <td>
            <a [routerLink]="['/books',book.id,'edit']" >Edit</a>
            <!-- Add more actions as needed -->
        </td>
    </tr>
</tbody>
</table>
<p *ngIf="books.length === 0">No books available.</p>
