th {
  cursor: pointer;
}

th span {
  margin-left: 8px;
}

.sort-icon {
  font-size: 12px;
}

.sort-icon.asc::after {
  content: '▲'; 
}

.sort-icon.desc::after {
  content: '▼'; 
}

table th, table td {
  text-align: left;
}

button.btn-primary {
  margin-top: 1rem;
}



tr:hover {
  cursor: pointer;
}

/* Override Bootstrap's table background variable */
table tbody tr.selected {
  --bs-table-bg: #D5EBFD !important; /* Light blue background */
  color: #0c5460 !important; /* Dark blue text */
}