
<div class="container mt-4">
    <h2 class="mb-4">Update Details</h2>
  
    <!-- Select All Checkbox -->
    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" id="selectAll">
      <label class="form-check-label" for="selectAll">
        Select all
      </label>
    </div>
  
    <!-- Cover Row -->
    <div class="row align-items-center mb-4">
      <div class="col-auto">
        <input class="form-check-input" type="checkbox" id="coverCheckbox">
      </div>
      <div class="col">
        <label for="coverInput" class="form-label fw-bold">Cover</label>
        <input type="text" class="form-control" id="coverInput" [(ngModel)]="book.cover_image" placeholder="Cover URL">
      </div>
      <div class="col-auto">
        <img src="http://localhost:5000/static/{{book.cover_image}}" alt="Cover" class="img-thumbnail"
        style="width: 128px; height: 204px;">
        <small class="text-muted d-block text-center">128×204px</small>
      </div>
    </div>
    <!-- TODO for some reason these fields don't map to the book object -->
    <app-editable-field
        [label]="'Title'"
        [(currentValue)]="book.title"
        [originalValue]="originalBook.title"
        [controlId]="'title'">
    </app-editable-field>
    <app-editable-field
        [label]="'Author'"
        [(currentValue)]="book.author_name"
        [originalValue]="originalBook.author_name"
        [controlId]="'author'">
    </app-editable-field>

    <!-- Description Row -->
    <div class="row align-items-center mb-4">
      <div class="col-auto">
        <input class="form-check-input" type="checkbox" id="descriptionCheckbox"
        [checked]="(book.synopsis || '').trim().length > 0">
      </div>
      <div class="col">
        <label for="descriptionInput" class="form-label fw-bold">Description</label>
        <textarea class="form-control" id="descriptionInput" rows="3" [(ngModel)]="book.synopsis"
         placeholder="Book Description"></textarea>
        <small *ngIf="originalBook.synopsis" class="text-muted">Currently: {{ originalBook.synopsis }}</small>
      </div>
    </div>
    <!-- TODO other rows -->
    <!-- year published, isbn, genres, book type, status, series, tags -->
    <app-editable-field
        [label]="'Genre'"
        [(currentValue)]="book.genre"
        [originalValue]="originalBook.genre"
        [controlId]="'genres'">
    </app-editable-field>
    <app-editable-field
        [label]="'Book Type'"
        [(currentValue)]="book.book_type"
        [originalValue]="originalBook.book_type"
        [controlId]="'book_type'">
    </app-editable-field>
    <app-editable-field
        [label]="'Status'"
        [(currentValue)]="book.status"
        [originalValue]="originalBook.status"
        [controlId]="'status'">
    </app-editable-field>
    <app-editable-field
        [label]="'Series'"
        [(currentValue)]="book.series"
        [originalValue]="originalBook.series"
        [controlId]="'series'">
    </app-editable-field>
    <app-editable-field
        [label]="'Year'"
        [(currentValue)]="book.year"
        [originalValue]="originalBook.year"
        [controlId]="'year'">
    </app-editable-field>
    <app-editable-field
        [label]="'ISBN'"
        [(currentValue)]="book.isbn"
        [originalValue]="originalBook.isbn"
        [controlId]="'isbn'">
    </app-editable-field>
    <app-editable-field
        [label]="'Tags'"
        [(currentValue)]="book.tags"
        [originalValue]="originalBook.tags"
        [controlId]="'tags'">
    </app-editable-field>
    <app-editable-field
        [label]="'Publisher'"
        [(currentValue)]="book.publisher"
        [originalValue]="originalBook.publisher"
        [controlId]="'publisher'">
    </app-editable-field>
    <app-editable-field
        [label]="'Language'"
        [(currentValue)]="book.language"
        [originalValue]="originalBook.language"
        [controlId]="'language'">
    </app-editable-field>
    <app-editable-field
        [label]="'Page Count'"
        [(currentValue)]="book.page_count"
        [originalValue]="originalBook.page_count"
        [controlId]="'page_count'">
    </app-editable-field>
    <!-- Save Button -->
    <div class="text-center">
        <button class="btn btn-primary" (click)="saveBook()">Save</button>
    </div>
  </div>