<app-top-bar (searchCalled)="searchCalled($event)"
             [(searchText)]="searchText"></app-top-bar>
<app-book-filter [authors]="authors"
                 [minmax]="minmax"
                 [genres]="genres"
                 [series]="series"
                 [languages]="languages"
                 (saveRequested)="onSaveRequested($event)"
                 (filtersChanged)="onFiltersChanged($event)"
                 (resetPage)="onResetPage($event)"></app-book-filter>
<book-list-grid
  [books]="books"
  [selectedBookIds]="selectedBookIds"
  (rowClick)="onBookRowClick($event.bookId, $event.event)"
  (rowRightClick)="onBookRowRightClick($event.bookId, $event.event)"
  *ngIf="bookListService.viewMode === 'grid'"
  (sort)="sortBy($event.column, $event.event)"
  [allSelected]="areAllSelected()">
</book-list-grid>

<book-list-table
  [books]="books"
  [selectedBookIds]="selectedBookIds"
  (rowClick)="onBookRowClick($event.bookId, $event.event)"
  (rowRightClick)="onBookRowRightClick($event.bookId, $event.event)"
  *ngIf="bookListService.viewMode === 'table'"
  (sort)="sortBy($event.column, $event.event)"
  [allSelected]="areAllSelected()"
></book-list-table>

<button class="btn btn-primary"
        [disabled]="selectedBookIds.length === 0"
        (click)="editSelectedBooks()"
        *ngIf="selectedBookIds.length > 0">
  Edit Selected Books
</button>
<!-- Pagination Controls -->
<div class="container mt-4">
  <app-books-pagination [totalPages]="totalPages"
                        [pageSize]="pageSize"
                        [currentPage]="currentPage"
                        (pageChanged)="onPageChanged($event)"></app-books-pagination>
</div>
<p *ngIf="books.length === 0">No books available.</p>
<!-- Context Menu -->
<app-context-menu [style.display]="isContextMenuVisible ? 'block' : 'none'"
                  #contextMenu
                  [selectedBooks]="selectedBookIds"
                  (action)="onContextMenuAction($event)"></app-context-menu>
<!-- Add to Collection Modal -->

<!-- Modal or conditional form -->
<!-- TODO encapsulate also the modal within AddToCollection component -->
<div class="modal-backdrop"
     *ngIf="showAddToCollection">
  <div class="modal-dialog collection-modal">
    <div class="modal-content">
      <app-add-to-collection [collections]="collections"
                             [selectedBooksCount]="selectedBookIds.length"
                             (createCollection)="handleCreateCollection($event)"
                             (addToCollection)="handleAddToCollection($event)"></app-add-to-collection>
      <button class="close-btn"
              (click)="closeAddToCollection()">×</button>
    </div>
  </div>
</div>
<p *ngIf="bookListService.viewMode === 'table'">{{ count }} books found</p>
<column-selector-component *ngIf="bookListService.viewMode === 'table'"></column-selector-component>
<app-multiple-match-options (submit)="handleSubmitMatchBooks($event)"
                            (cancel)="handleCancelMatchBooks()"></app-multiple-match-options>