<div class="container">
    <div class="row row-cols-2">
        <div class="card mb-2" *ngFor="let collection of collections"
            (contextmenu)="onRightClick($event, collection)">
            <a [routerLink]="['/books']" [queryParams]="{ collection: collection.id }" style="text-decoration: none;"
                        >
            <div class="card-body">
                <!-- Container for the images -->
                <div class="image-container" style="background-color: grey">
                    <div *ngFor="let url of collection.cover_images; let i = index" [style.left]="
              getImagePosition(i, collection.cover_images.length, collection.name)
            " class="image-wrapper">
                        <img [src]="'http://localhost:5000/static/' + url" class="cover-image" alt="Book cover" />
                    </div>
                </div>
                <div class="col-12 text-center">
                        {{ collection.name }}
                    <button
                        class="btn btn-secondary btn-sm"
                        (click)="showContextMenu($event, collection)"
                        style="float: right; margin-right: -10px;">⋮</button>
                </div>
            </div>
            </a>
        </div>
    </div>
    <!-- Context Menu -->
    <app-collections-context-menu
        *ngIf="contextMenuVisible && selectedCollectionId"
        [options]="[
        { label: '✏️ Rename', action: 'rename' },
        { label: '❌ Delete', action: 'delete' }
        ]"
        (optionSelected)="onContextMenuAction($event, selectedCollectionId)"
        [style.position]="'absolute'"
        [style.top.px]="contextMenuPosition.y"
        [style.left.px]="contextMenuPosition.x"
    ></app-collections-context-menu>
</div>