<div class="book-grid">
  <div
    class="book-card"
    *ngFor="let book of books"
    [class.selected]="selectedBookIds.includes(book.id)"
    (click)="onRowClick(book, $event)"
    (contextmenu)="onRowRightClick(book, $event)"
    tabindex="0"
  >
    <div class="cover-wrapper">
      <img
        *ngIf="getCoverImageUrl(book); else noCover"
        [src]="getCoverImageUrl(book)"
        [alt]="book.title"
        class="book-cover"
        draggable="false"
      />
      <ng-template #noCover>
        <div class="no-cover"></div>
      </ng-template>
    </div>
    <div class="book-info">
      <div class="book-title" [title]="book.title">
        <a class="book-title" [routerLink]="['/books', book.id]">{{
          book.title
        }}</a>
      </div>
      <div class="book-author" [title]="book.author_name">
        <a
          class="book-author"
          [routerLink]="['/books/']"
          [queryParams]="{ author: book.author_name }"
          >{{ book.author_name }}</a
        >
      </div>
    </div>
  </div>
</div>
