<h4>Import Books</h4>
<form [formGroup]="importCsvForm" (ngSubmit)="onSubmitCsv()">
  <div class="p-3">
    <label for="file">Import your Goodreads books: </label>
    <a
      href="https://help.goodreads.com/s/article/How-do-I-import-or-export-my-books-1553870934590"
      target="_blank"
      >How to export</a
    >
    <p>The CSV file should contain the following columns: Title,Author</p>
    It can also contain: Description,Category,Publisher,Year
    Published,ISBN,ISBN13,Number of Pages,Bookshelves
    <div class="mb-3">
      <label for="formFile" class="form-label"
        >Export your books from Goodreads and upload the CSV file here.
      </label>
      <input
        class="form-control"
        name="csvFile"
        type="file"
        accept=".csv"
        id="csvFile"
        (change)="onFileChange($event)"
        required
      />
      <div
        *ngIf="
          importCsvForm.get('csvFile')?.invalid &&
          importCsvForm.get('csvFile')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="importCsvForm.get('csvFile')?.errors?.['required']"
          >File is required.</small
        >
        <small *ngIf="importCsvForm.get('csvFile')?.errors?.['pattern']"
          >Only .csv files are allowed.</small
        >
      </div>
    </div>
    <p *ngIf="importError" class="text-danger">
      {{ importError }}
    </p>
    <button type="submit" [disabled]="!importCsvForm.valid">Submit</button>
  </div>
</form>
<hr />
<form [formGroup]="importCsvAllForm" (ngSubmit)="onSubmitCsvAll()">
  <div class="p-3">
    <label for="file">Import your all books: </label>
    
    <div class="mb-3">
      <label for="formFile" class="form-label"
        >Upload the CSV file here.
      </label>
      <input
        class="form-control"
        name="csvFile"
        type="file"
        accept=".csv"
        id="csvFile"
        (change)="onAllFileChange($event)"
        required
      />
      <div
        *ngIf="
          importCsvAllForm.get('csvFile')?.invalid &&
          importCsvAllForm.get('csvFile')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="importCsvAllForm.get('csvFile')?.errors?.['required']"
          >File is required.</small
        >
        <small *ngIf="importCsvAllForm.get('csvFile')?.errors?.['pattern']"
          >Only .csv files are allowed.</small
        >
      </div>
    </div>
    <p *ngIf="importAllError" class="text-danger">
      {{ importAllError }}
    </p>
    <button type="submit" [disabled]="!importCsvAllForm.valid">Submit</button>
  </div>
</form>
<hr />
<form [formGroup]="importNotesForm" (ngSubmit)="onSubmitNotes()">
  <div class="p-3">
    Import your books from notes:
    <p>
      Format: title (author) <br />
      or <br />
    </p>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="importFormat"
        id="titleAuthor"
        value="titleAuthor"
        formControlName="importFormat"
      />
      <label class="form-check-label" for="titleAuthor"> title - author </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="importFormat"
        id="authorTitle"
        formControlName="importFormat"
        value="authorTitle"
        checked
      />
      <label class="form-check-label" for="authorTitle"> author - title </label>
    </div>
    <textarea name="notes" rows="10" cols="80" formControlName="notes" required>
    </textarea>
    <br />
    <button type="submit" [disabled]="!importNotesForm.valid">Submit</button>
  </div>
</form>
