.input-group {
  max-width: 500px; /* Adjust the width as needed */
}

.input-group .form-control {
  border-right: none; /* Remove the border between input and button */
  border-radius: 0.375rem 0 0 0.375rem; /* Rounded corners for the left side */
}

.input-group .btn {
  border-left: none; /* Remove the border between input and button */
  border-radius: 0 0.375rem 0.375rem 0; /* Rounded corners for the right side */
}

.searchInput{
    width: 400px;
}