<nav class="navbar navbar-light bg-light sticky-top">
  <div class="input-group">
    <!-- Search Textbox -->
    <form class="d-flex" (submit)="onSearch()">
      <input
        type="text"
        class="form-control searchInput"
        placeholder="Search.."
        aria-label="Search"
        (input)="onSearchChange($event)"
        name="searchText"
        [(ngModel)]="searchText"
      />
      <!-- Buttons -->
      <button
        class="btn btn-outline-secondary search-button"
        type="button"
        (click)="onSearch()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
      <button
        class="show-hide btn btn-outline-secondary"
        type="button"
        (click)="showHideMenu()"
      >
        ☰
      </button>
    </form>
  </div>

 <div class="btn-group ms-auto me-2">
    <button class="btn btn-outline-secondary" type="button" (click)="selectGrid()">⠿</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" (click)="selectTable()">☰</button>
  </div>
<div class="navbar-item  me-2" *ngIf="isGridView">
  <div class="counter-control d-flex align-items-center px-3">
    <button type="button" class="btn btn-link btn-sm p-0 counter-btn" (click)="decrement()">
      &minus;
    </button>
    <span class="counter-value">{{ gridItemSize }}</span>
    <button type="button" class="btn btn-link btn-sm p-0 counter-btn" (click)="increment()">
      +
    </button>
  </div>
</div>

  <!-- status icon -->
  <span class="status-icon float-end" [title]="pingTooltipText">{{
    pingResponse()
  }}</span>
</nav>
